.customer-account-validate .insert-password-label {
    position: absolute;  
    width: 100%;
    left: 0%;
    top: 0%;
    height: 25%;
    background-color: #EDEBE6;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-account-validate .insert-password-input {
    position: absolute;  
    width: 100%;
    height: 20%;

    top: 25%;
    left: 0%;
    background-color: #EDEBE6;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-account-validate .show-validate-password-button {
    position: absolute;
    top: 35%;
    right: 5%;

    font-size: 45px;

    z-index: 5; /* For some reason it was appearing below the input field, nah nah */

    transform: translateY(-100%);
}
.customer-account-validate .insert-password-error {
    position: absolute;  
    width: 100%;
    height: 15%;

    top: 45%;
    left: 0%;
    background-color: #EDEBE6;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-account-validate .validate-password-confirm-button {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);  
    width: 55%;
    height: 20%;  
    outline: 2px solid black;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7.5%;
}