.change-customer .account-label {
    position: absolute;
    top: 3%;  
    left: 5%;    
    width: 90%;
    height: 8%;
    background-color: #EDEBE6;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Found out you can style multiple at a time, cool I think? */
.change-customer .name-label,
.change-customer .name-text,
.change-customer .email-label,
.change-customer .email-text,
.change-customer .phone-label,
.change-customer .phone-text {
    position: absolute;
    left: 2%;  
    width: 30%;
    height: 8%;
    background-color: #EDEBE6;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-customer .name-label {
    top: 19.5%; 
}


.change-customer .name-text {
    top: 27.5%;  
}


.change-customer .email-label {
    top: 42.5%;  
}

.change-customer .email-text {
    top: 50.5%;  
}

.change-customer .phone-label {
    top: 63.5%;  
}

.change-customer .phone-text {
    top: 71.5%; 
    
}

.change-customer .requirements-label,
.change-customer .requirements-text {
    position: absolute;
    right: 2%;
    width: 55%;
    background-color: #EDEBE6;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-customer .requirements-label {
    top: 19.5%;  
    height: 8%; 
}

.change-customer .requirements-text {
    top: 27.5%;
    height: 52%;
}

.change-customer .back-button {
    position: absolute;

    bottom: 2.5%;
    left: 2.5%;

    width: 20%;
    height: 10%;

    border-radius: 7.5%;

    font-size: 20px;
}

.change-customer .change-info-button {
    position: absolute;

    bottom: 2.5%;
    right: 2.5%;

    width: 20%;
    height: 10%;

    border-radius: 7.5%;

    font-size: 20px;
}