/* Since all the buttons are the same apart from their y position we can style them all at once. */
.customer-change-account .settings-button {
    position: absolute;
    left: 2.5%;  
    width: 95%;
    height: 15%;  
    background-color: #EDEBE6;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7.5%;
}

.customer-change-account .username-button {
    top: 5%; 
}

.customer-change-account .email-button {
    top: 22%;  
}

.customer-change-account .password-button {
    top: 39%;  
}

.customer-change-account .phone-button {
    top: 56%;  
}

.customer-change-account .requirements-button {
    top: 73%;  
    
}