.signup-label-container {
    background-color: #EDEBE6;

    position: absolute;

    top: 1.5%;
    left: 1%;

    width: 40%;
    height: 12.5%;

    outline: 2px solid black;
}
.signup-label {
    text-align: center;

    font-size: 45px;

    line-height: 50%;
}

.email-label-container {
    background-color: #EDEBE6;

    position: absolute;

    top: 22.5%;
    left: 1%;

    width: 40%;
    height: 7%;

    outline: 2px solid black;
}
.email-label {
    text-align: center;

    font-size: 35px;

    line-height: 10%;
}

.email-input {
    background-color: #EDEBE6;

    position: absolute;

    top: 29.5%;
    left: 1%;

    width: 40%;
    height: 7%;

    outline: 2px solid black;
    appearance: none;
}

.email-error-container {
    background-color: #EDEBE6;

    position: absolute;

    top: 36.5%;
    left: 1%;

    width: 40%;
    height: 6%;

    outline: 2px solid black;
}
.email-error {
    text-align: left;

    color: red;

    font-size: 13px;

    line-height: 85%;
}

.password-label-container {
    background-color: #EDEBE6;

    position: absolute;

    top: 47.5%;
    left: 1%;

    width: 40%;
    height: 7%;

    outline: 2px solid black;
}
.password-label {
    text-align: center;

    font-size: 35px;

    line-height: 10%;
}

.password-input {
    background-color: #EDEBE6;

    position: absolute;

    top: 54.5%;
    left: 1%;

    width: 40%;
    height: 7%;

    outline: 2px solid black;
    appearance: none;
}

.show-password-button {
    position: absolute;
    top: 54.5%;
    left: 37%;

    font-size: 25px;

    transform: translateY(-50%);
}

.password-error-container {
    background-color: #EDEBE6;

    position: absolute;

    top: 61.5%;
    left: 1%;

    width: 40%;
    height: 6%;

    outline: 2px solid black;
}
.password-error {
    text-align: left;
    text-align: start;

    color: red;

    font-size: 13px;

    line-height: 85%;
}

.signup-button {
    position: absolute;

    width: 32.5%;
    height: 20%;

    font-size: 52px;

    border-radius: 7.5%;

    bottom: 7.5%;

    left: 21%;

    transform: translateX(-50%);
}

.logo-image {
    position: absolute;
    right: 1.75%;
    top: 8.5%;

    width: 55%;
    height: 55%;
}

.login-redirect-container {
    position: absolute;
    bottom: 7.5%;
    right: 29.25%;

    width: 50%;
    height: 17.5%;
    
    transform: translateX(50%);

    outline: 2px solid black;
    background-color: #EDEBE6;
    
}
.login-redirect {
    font-weight: bold;
    text-align: center;
    text-align: center;
    font-size: 30px;
    line-height: 100%;
}

input {
    all: unset;
}
input:focus {
    outline-width: 3px;
}